

.ant-layout-header{
    background: @primary-color !important;
}
#main .logo{
    background: @primary-color !important;
}
.double_left{
    background:  @primary-color;
}

.vehicle_details_title{
    background-color: @slider-handle-color-focus-shadow;
}

.left_search{
    border-bottom: 1px dashed  @border-color;
}

.select_car{
    background: @slider-handle-color-focus-shadow;
}
.left_tree{
    border-top: 1px dashed  @border-color;
}
.status_list_nav{
    background: @slider-handle-color-focus-shadow;
    .enlarge_icon{
        color:@primary-color
    }
}

.color_input{
    .ant-input{
        color: @primary-color;
    }
}

.draw_district span{
    background: @primary-color;
}
.repaint{
    color: @primary-color;
}
.track_control .show_data_car .show_data_car_sel span{
    background: @primary-color;
}
.desion_left .desion_left_t{
    color: @primary-color !important;
}
.widget_form_list_c{
    border: 1px solid @primary-color !important;;
}
.copy_template .copy_template_icon{
    background: @primary-color !important;
}
.right_map .drag_status_list_nav{
    background: @primary-color !important;
}
.status_list_nav .cur_statue{
    color: @primary-color !important;
}
.query_way span{
    color: @primary-color !important;
}
.play_back_box .play_back_section{
    background: @primary-color !important;
}